<app-navbar></app-navbar>
<div class="content">
  <img class="backdrop-filter" src="../../../assets/images/filter img.png" />
  <img
    class="film-backdrop"
    src="https://image.tmdb.org/t/p/original/{{ tvShow.backdrop_path }}"
    alt="{{ tvShow.name }} backdrop"
  />
  <div class="film-details">
    <div class="col-1">
      <div class="film">
        <img
          height="250"
          src="https://image.tmdb.org/t/p/original/{{ tvShow.poster_path }}"
          alt="{{ tvShow.name }} poster"
        />
      </div>
    </div>
    <div class="col-2">
      <div class="film-title">
        <h1>{{ tvShow.name }}</h1>
        <h3><span>Premiered on</span> {{ year }}</h3>
      </div>
      <p class="film-overview">{{ tvShow.overview }}</p>
    </div>
  </div>
</div>
